# Simulation binaries
*.vvp

# Logs (CSV format used for logs)
*.csv

# Waveform Dumpfiles
*.vcd

# Quartus Temporary Files
*.bak

# C compiled binaries
*.out

# Generate memory initialization files
*.mif

# Vivado project files
*-vivado/
*.xpr

# Vivado log files
*.log
*.jou